html, body{
    &.no-scroll{
        overflow: hidden;
    }
}
html {
    @include fatness( font-size, $base-font-size, $base-font-size-sm, $base-font-size-md, $base-font-size-lg );
}

body {
    font-family: $font-primary;
    line-height: $line-height;
}

img{
    height: auto;
    max-width: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home{
    .browsehappy{
        left: 0;
        position: fixed;
        right: 0;
        text-align: center;
        top: 0;
        z-index: 99;
    }
}
.excerpt-more{
    font-size: .777rem;
    display: block;
    margin-top: .5rem;
    @include media-breakpoint-up(md){
        max-width: 250px;
    };
}
