// Rule for all four sizes
@mixin fatness( $rule, $xs, $sm, $md, $lg ) {
    #{$rule}: $xs;
    @include media-breakpoint-up( sm ) {
        #{$rule}: $sm;
    };
    @include media-breakpoint-up( md ) {
        #{$rule}: $md;
    };
    @include media-breakpoint-up( lg ) {
        #{$rule}: $lg;
    };
};
@mixin full-screen-container( $height, $width ) {
    position: fixed;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
}
/*
    https://github.com/bfred-it/object-fit-images/blob/master/preprocessors/mixin.scss
    This mixin can be used to set the object-fit:
    @include object-fit(contain);
    or object-fit and object-position:
    @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;
    @if $position {
        -o-object-position: $position;
        object-position: $position;
        font-family: 'object-fit: #{$fit}; object-position: #{$position}';
    }
    @else {
        font-family: 'object-fit: #{$fit}';
    }
}
