// Grid settings
$enable-flex: true;
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

$grid-breakpoints: (
    xs: 0,
    sm: 568px,
    md: 768px,
    lg: 992px,
    xl: 1280px,
);

$hero-height: 75vh;
$hero-height-squat: 100vh;
$home-margin-top: 55vh;
$home-margin-top-mobile: 65vh;
$home-margin-top-squat: 75vh;

$z-index-hero: 0;
$z-index-default: 1;

// Colors
$brand-primary: #27ae60;
$brand-secondary: #e5005a;
$white: #f7f7f7;
$black: #030303;
$enable-transitions: true;
$enable-print-styles: true;
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$instagram-color: #ffffff;
$rss-color: #f26522;
$border-radius: 2px;
$nav-pills-active-link-color: $white;
$nav-pills-active-link-bg: $brand-secondary;
$basic-shadow: 2px 2px 2px rgba($black, .45);

// Animations
$default-transition: all .5s ease-in-out;

// Typography
$font-primary: 'Exo', 'Open Sans', 'Arial', 'sans-serif';

$base-font-size: 13px;
$base-font-size-sm: 14px;
$base-font-size-md: 16px;
$base-font-size-lg: 18px;

$font-light: 200;
$line-height: 1.4;
