.scrolling{
    .main-header{
        margin-bottom: 100px;
        &__container{
            background-color: $white;
            height: 5rem;
            left: 0;
            position: fixed;
            top: 0;
            width: 100vw;
            z-index: $z-index-default;
            @include media-breakpoint-up(md){
                height: auto;
            }
            .brand{
                color: $brand-primary;
                font-size: 3rem;
                margin: 0 auto;
                max-width: 1180px;
                padding: 1rem 0;
                text-align: left;
                text-shadow: none;
                width: 90vw;
                word-spacing: normal;
                @include media-breakpoint-up(md){
                    font-size: 2rem;
                    padding: .5rem 0 0;
                }
            }
        }
        &__links-nav{
            @include media-breakpoint-up(md){
                display: flex;
            };
        }
    }
    &.home{
        .main-header{
            &__container{
                .brand{
                    color: $brand-primary;
                }
            }
        }
    }
}
.open{
    .main-header{
        &__links-nav{
            display: flex;
        }
    }
}
.main-header{
    margin-bottom: 2rem;
    min-height: 100px;
    &__container{
        position: relative;
        transition: $default-transition;
        z-index: $z-index-default;
        .brand{
            color: $brand-primary;
            display: block;
            font-size: 4rem;
            font-weight: 900;
            line-height: 1;
            text-align: center;
            text-shadow: $basic-shadow;
            transition: color .5s ease-in-out, font-size .5s ease-in-out;
            padding: 3rem 0 0;
            word-spacing: 100vw;
            @include media-breakpoint-up(sm){
                word-spacing: normal;
            };
            @include media-breakpoint-up(md){
                font-size: 6rem;
                line-height: inherit;
                padding: .5rem 0 0;
            };
        }
    }
    &__links-nav{
        bottom: 0;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        height: 30px;
        justify-content: center;
        left: 0;
        list-style: none;
        margin: 0;
        position: fixed;
        width: 100vw;
        z-index: 99;
        @include media-breakpoint-up(md){
            left: inherit;
            margin: .5rem .5rem 0 0;
            position: absolute;
            right: 0;
            top: -35px;
            width: auto;
        };
    }
    &__links-item{
        margin: 0;
        padding: 0;
        a{
            display: inline-block;
            height: 10vw;
            position: relative;
            text-align: center;
            transition: $default-transition;
            width: 10vw;
            img{
                max-width: 50%;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            @include media-breakpoint-up(md){
                display: inline-block;
                height: 25px;
                width: 25px;
                img{
                    left: inherit;
                    position: relative;
                    top: inherit;
                    transform: translate(0);
                }
            };
        }
    }
    &__links-fb{
        background: $facebook-color;
        img{
            max-width: 30% !important;
        }
        &:hover{
            background: darken($facebook-color, 10);
        }
    }
    &__links-twitter{
        background: $twitter-color;
        &:hover{
            background: darken($twitter-color, 10);
        }
    }
    &__links-instagram{
        background: $instagram-color;
        &:hover{
            background: darken($instagram-color, 10);
        }
    }
    &__links-blog{
        background: $white;
        &:hover{
            background: darken($white, 10);
        }
    }
    &__links-donate{
        background: $brand-primary;
        &:hover{
            background: darken($brand-primary, 10);
        }
    }
}
.home{
    .main-header{
        &__container{
            .brand{
                color: $white;
            }
        }
    }
}
