.scrolling{
    .main-header{
        margin-bottom: 100px;
        &__container{
            background-color: $white;
            height: 5rem;
            left: 0;
            position: fixed;
            top: 0;
            width: 100vw;
            z-index: $z-index-default;
            @include media-breakpoint-up(md){
                height: auto;
            }
            .brand{
                color: $brand-primary;
                font-size: 3rem;
                margin: 0 auto;
                max-width: 1180px;
                padding: 1rem 0;
                text-align: left;
                text-shadow: none;
                width: 90vw;
                word-spacing: normal;
                @include media-breakpoint-up(md){
                    font-size: 2rem;
                    padding: .5rem 0 0;
                }
            }
        }
    }
    &.home{
        .main-header{
            &__container{
                .brand{
                    color: $brand-primary;
                }
            }
        }
    }
}
.main-header{
    margin-bottom: 2rem;
    min-height: 100px;
    &__container{
        position: relative;
        transition: $default-transition;
        z-index: $z-index-default;
        .brand{
            color: $brand-primary;
            display: block;
            font-size: 4rem;
            font-weight: 900;
            line-height: 1;
            text-align: center;
            text-shadow: $basic-shadow;
            transition: $default-transition;
            padding: 3rem 0 0;
            word-spacing: 100vw;
            @include media-breakpoint-up(sm){
                word-spacing: normal;
            };
            @include media-breakpoint-up(md){
                font-size: 6rem;
                line-height: inherit;
                padding: .5rem 0 0;
            };
        }
    }
}
.home{
    .main-header{
        &__container{
            .brand{
                color: $white;
            }
        }
    }
}
