.scrolling{
    &.home{
        .nav-primary{
            &__mobile-toggle{
                &:after{
                    color: $brand-primary;
                    text-shadow: none;
                }
                span{
                    background-color: $brand-primary;
                    box-shadow: none;
                }
            }
        }
    }
}
.home{
    .nav-primary{
        &__mobile-toggle{
            span{
                background-color: $white;
            }
            &::after{
                color: $white;
            }
        }
    }
}
.nav-primary{
    background-color: $white;
    margin: 0 auto;
    max-width: 1180px;
    width: 90vw;
    &__mobile{
        display: block;
        @include media-breakpoint-up(md){
            display: none;
        }
    }
    &__mobile-menu{
        // background-color: $white;
        // bottom: 0;
        display: none;
        // height: 100vh;
        // left: 0;
        // padding: 2rem;
        // position: absolute;
        // top: 0;
        // width: 100vw;
        // z-index: 9;
        ul.nav{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-right: 3rem;
            text-align: center;
            .dropdown-menu{
                width: 100%;
            }
            li{
                float: none;
                font-size: 1.5rem;
                margin-top: 1.5rem;
                &:last-of-type{
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
    .open{
        &.nav-primary__mobile{
            background-color: $white;
            bottom: 0;
            height: 100vh;
            left: 0;
            padding: 2rem;
            position: absolute;
            top: 0;
            width: 100vw;
            z-index: 9;
        }
        .nav-primary__mobile-toggle {
            &:after{
                color: $brand-secondary;
            }
            span{
                background: $brand-secondary;
            }
            span{
                &:nth-child(1) {
                  top: 18px;
                  width: 0%;
                  left: 50%;
                }
                &:nth-child(2) {
                  transform: rotate(45deg);
                }
                &:nth-child(3) {
                  transform: rotate(-45deg);
                }
                &:nth-child(4) {
                  top: 18px;
                  width: 0%;
                  left: 50%;
                }
            }
        }
        .nav-primary__search{
            bottom: 0;
            display: block;
            left: 0;
            position: fixed;
            width: 100%;
            z-index: 9;
            .search-form{
                margin: 0 2rem 1rem;
                text-align: left;
            }
            input, label{
                width: 100%;
            }
            .search-field{
                padding: 1rem;
            }
            .search-submit{
                display: block;
            }
        }
        .nav-primary__mobile-menu{
            display: block;
        }
    }
    &__mobile-toggle{
        cursor: pointer;
        width: 3rem;
        height: 2.5rem;
        position: absolute;
        margin: 1rem;
        right: 0;
        top: 0;
        transform: rotate(0deg);
        transition: $default-transition;
        z-index: 10;
        &:hover{
            &:after{
                color: $brand-primary;
            }
            span{
                background: $brand-primary;
            }
        }
        &:after{
            bottom: -1rem;
            color: $brand-primary;
            content: 'Menu';
            position: absolute;
            text-align: center;
            text-shadow: $basic-shadow;
            text-transform: uppercase;
            transition: $default-transition;
        }
        span{
            background: $brand-primary;
            border-radius: .5rem;
            box-shadow: $basic-shadow;
            display: block;
            height: .25rem;
            opacity: 1;
            left: 0;
            position: absolute;
            transform: rotate(0deg);
            transition: $default-transition;
            width: 95%;
        }
        span:nth-child(1) {
            top: 0;
        }

        span:nth-child(2), span:nth-child(3) {
          top: .75rem;
        }

        span:nth-child(4) {
          top: 1.5rem;
        }
    }
    &__desktop{
        display: none;
        @include media-breakpoint-up(md){
            display: flex;
            justify-content: space-between;
        }
    }
    &__desktop-menu{
        align-items: center;
        display: flex;
    }
    &__search{
        display: none;
        @include media-breakpoint-up(md){
            display: block;
            max-width: 20%;
        };
        .search-form{
            margin: .5rem;
            text-align: right;
        }
        .search-field{
            transition: $default-transition;
            width: 50%;
            &:focus{
                width: 100%;
            }
        }
        .search-submit{
            display: none;
        }
    }
    .dropdown{
        &:hover{
            .dropdown-toggle{
                background-color: $brand-secondary;
                color: $white;
            }
            .dropdown-menu{
                display: block;
            }
        }
        .dropdown-menu{
            margin-top: -2px;
        }
    }
    .current-menu-item{
        background-color: $brand-secondary;
        > a{
            color: $white;
        }
    }
}
